php_value post_max_size 30M
php_value upload_max_filesize 30M
<Files .htaccess>
order allow,deny
deny from all
</Files>
DirectoryIndex vector_new/index.php 
SSLRequireSSL # The modules only work using HTTPS
AuthType shibboleth
ShibRequireSession On
ShibRequireAll On
ShibExportAssertion Off

 require valid-user
 allow from all 
 allow from .cern.ch

# Require ADFS_GROUP "cernts-vector-users"

#INSERITI DA ME
# Options +Indexes

# To validate only selected users:

# Require ADFS_LOGIN "iasensi"


